DB_HOST="localhost" //если запуск через docker, будет перезаписано автоматически
DB_PORT="5432"
DB_USER="postgres"
DB_PASSWORD="root"
DB_NAME="datacrawler"
DB_SSLMODE="disable"
DB_POOL_MAX_CONNS="25"
DB_POOL_MIN_CONNS="5"
DB_SAVE_REQ="false" //если отключено, сохранения в БД не будет, останется только просмотр в json файле
REDIS_ADDR="localhost:6379" //если запуск через docker, будет перезаписано автоматически
REDIS_CACHE_TIME_MINUTE="10"

//ввести значения из браузера (найти через DevTools)
WB_DEVICE_ID="..."
WB_WBAAS_TOKEN="..."
WB_WBAUID_1="..."
WB_WBAUID_2="..."
USER_AGENT="..."

